.carbon-block--hero-section {
    height: 350px;
    border-radius: 2rem;
    margin: 0 5%;
    width: 90%;
}

.carbon-block--hero-section__container {
    width: 100%;
    padding: 6rem 3rem;
    color: #f8f9fa;
}

.carbon-block--hero-section__content {
    max-width: 100%;
}

.carbon-block--hero-section__title {
    font-size: 4rem;
    margin: 0 0 2.5rem 0;
    letter-spacing: -0.025em;
    color: #f8f9fa;
}

.carbon-block--hero-section__subtitle {
    font-size: 1.5rem;
    margin: 0 0 4rem 0;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #f8f9fa;
}