.carbon-block--hero-section {
    min-height: 80vh;
}

.carbon-block--hero-section__container {
    max-width: 100%;
    padding: 4rem 2rem;
}

.carbon-block--hero-section__content {
    max-width: 800px;
}

.carbon-block--hero-section__title {
    font-size: 3rem;
    margin: 0 0 1.5rem 0;
}

.carbon-block--hero-section__subtitle {
    font-size: 1.25rem;
    margin: 0 0 3rem 0;
}