{# Tag Style 2 - For beds/baths/guests (primary-lightest bg, base-white text) #}
<span class="carbon-block--{{ block_name }}__tag carbon-block--{{ block_name }}__tag--style2">
    {% if icon %}<i class="{{ icon }}"></i>{% endif %}
    {{ text }}
</span>
