.carbon-block--hero-section {
    min-height: 70vh;
}

.carbon-block--hero-section__container {
    padding: 0 10px;
}

.carbon-block--hero-section__content {
    text-align: center !important;
    margin: 0 auto !important;
}

.carbon-block--hero-section__title {
    font-size: 2rem;
}

.carbon-block--hero-section__subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.carbon-block--hero-section__button {
    padding: 0.75rem 1.5rem;
}